<div class="row full-height">
    <div class="large-12 columns full-height">
        <p>Welcome to ShortView</p>
        <h5>Tracked Hosts:</h5>
        <form name="edit_hosts">
            <table>
                <tr>
                    <td>IP</td>
                    <td>Port</td>
                    <td></td>
                </tr>
                <tr ng-repeat="host in hostList track by $index">
                    <td>{{host.ip}}</td>
                    <td>{{host.port}}</td>
                    <td>
                        <button class="warning tiny" ng-click="removeServer($index)">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="ip" id="ip" ng-model="add_ip">
                    </td>
                    <td>
                        <input type="text" name="port" id="port" ng-model="add_port">

                    </td>
                    <td>
                        <button class="tiny" ng-click="addServer(add_ip, add_port)">Add</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>